html {
    font-family: 'Roboto', sans-serif;
  
    color: white;
}
h2, p {
    margin: 0;
  }
header, .hero {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10px;

}
.navs a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}
.navs {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}
.hero {
    display: flex;
    justify-content: space-between;
    
    align-items: flex-start;
}
.left-side-hero p {
    font-size: 18px;
}
.left-side-hero h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.left-side-hero {
    
}
.right-side-hero img{
    width: 550px;
    height: 350px;
}

button {
    color: white;
    background-color: blue;
    border: #3882F6;
    border-radius: 5px;
    padding: 5px 18px;
    margin: 20px 0;
}
.info-body {
    background-color: white;
    color: black;
    margin: 50px 0;
}
.info-body h2{
    text-align: center;
    margin: 30px 20px;
    padding: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.images-texts {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
    
}
.images-texts img{
    width: 200px;
    height: 150px;
}
.images-texts p {
    margin: 0 0 50px 0;  
}
.quote-body {
    background-color: #E5E7EB;
    height: 300px;
   
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px;
    padding: 50px;
}
.quote :nth-child(1) {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    justify-self: center;
}
.quote :nth-child(2) {
    color: black;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 20px;
    font-size: 22px;
    
}